body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 342px;
    border-radius: 1rem; /* 1rem=16px */
    margin-right: 0.5rem;

}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem ;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.library-options img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem ;
    border-radius: 0.75rem;
    height: 8rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;

}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.8;

}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.25rem 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.sticky-nav{
    position: sticky;
    background-color: #121212;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;

}
.dark-badge{
    background-color: black;
    color: white;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
    /* height: 0.5rem; */
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items {
    margin-right: 1rem;
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    height: 50%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img-song{
    height: 2.5rem;
    width: 2.5rem;

}
.music-info{
    /* margin: 0.2rem; */
    /* padding: 0 0.5rem 0.5rem 0.5rem; */
   

}
.music-info1{
    font-size: 1rem;
    font-weight: 500;
    opacity: 1;
    
}
.music-info2{
    font-size: 0.75rem;
    opacity: 0.8;
    /* padding-bottom: 1rem; */

    
}
.player{
    width: 50%;
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
}

/* .album{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem ;
    border-radius: 0.75rem;
    height: 8rem;
} */

.controls{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
    
